@font-face {
  src: url("/assets/fonts/primary.ttf");
  font-family: primary;
}
/* -- ##Device = Desktops -- */
@media (min-width: 1281px) {
  nav {
    max-width: 1281px;
  }

  .container {
    outline: red solid 0.25em;
    min-width: 1281px;
    font-size: 1.35em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Laptops, Desktops -- */
@media (min-width: 1025px) and (max-width: 1280px) {
  nav {
    max-width: 1280px;
  }

  .container {
    outline: orange solid 0.25em;
    max-width: 1280px;
    font-size: 1.2em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Tablets, Ipads (portrait) -- */
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    max-width: 1024px;
  }

  .container {
    outline: green solid 0.25em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Tablets, Ipads (landscape) -- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  nav {
    max-width: 1024px;
  }

  .container {
    outline: blue solid 0.25em;
    max-width: 1024px;
    font-size: 1.1em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Low Resolution Tablets, Mobiles (Landscape) -- */
@media (min-width: 481px) and (max-width: 767px) {
  nav {
    max-width: 767px;
  }

  .container {
    outline: purple solid 0.25em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Most of the Smartphones Mobiles (Portrait) -- */
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    max-width: 480px;
  }

  .container {
    outline: pink solid 0.25em;
  }

  body {
    padding: 0.25em;
  }
}
h1 {
  color: #0385D2;
  font-family: primary;
  font-size: 2.5em;
  padding: 0.5em;
  background: black;
}

form {
  padding: 1em;
}
form .form-group {
  clear: both;
  padding: 0.5em 0;
}
form .form-group em {
  float: left;
  color: red;
}
form .form-group label {
  width: 10em;
  font-size: 1em;
  font-family: Arial;
  color: black;
  float: left;
}
form .form-group input.form-control {
  width: 10em;
  font-size: 1em;
  font-family: Arial;
  color: black;
  background: transparent;
  display: block;
  float: left;
}
form .form-group button {
  width: calc(10em - .25em);
  font-size: 1em;
  padding: 0;
  font-family: Arial;
  color: black;
  font-weight: 900;
}
form .form-group button[type=submit] {
  margin: 0 0.5em 0 0;
  background: #0385D2;
}

.form-controls-table {
  padding: 1em;
}
.form-controls-table h2 {
  color: black;
  font-family: Arial;
  font-size: 1.25em;
}
.form-controls-table p {
  color: black;
  font-family: Arial;
}
.form-controls-table table {
  background: white;
  width: calc(100% - 1em);
  border: black solid 0.25em;
  color: black;
  font-family: Arial;
}
.form-controls-table table thead {
  background: black;
  color: white;
}
.form-controls-table table thead tr th p {
  color: white;
}
