@import './../../../styles-variables.scss';

.item {

    h1 {
        color: $primaryHighlight;
        font-family: $primaryFont;
        font-size: 2.5em;
        padding: .5em;
        background: $subTwoHighlight;
        clear: both;
    }
    
    div:nth-child(2) {
        width: 70%;
        float: left;
        padding: 1em;
        margin:0;
             
        p {
            color: $subTwoHighlight;
            font-family: $subTwoFont;

            a:link,
            a:visited {
                background: $primaryHighlight;
                font-family: $subTwoFont;
                color: $subTwoHighlight;
                margin: 1em 0;
                border: $subTwoHighlight solid .25em;
                border-radius: .25em;
                padding: .5em 0;
                clear: both;
                display: block;
                width: 7.5em;   
                text-align: center;
                text-decoration: none;
                transition: .25s;
            }
            a:hover,
            a:active {
                text-decoration: none;
                box-shadow: inset 0 0 .5em $subTwoHighlight;
            }
        }

        
    }

    div:nth-child(3) {
        width: 30%;
        float: right;
        padding: 1em;
        margin:0;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}