@font-face {
  src: url("/assets/fonts/primary.ttf");
  font-family: primary;
}
::selection {
  color: none;
}

/* -- ##Device = Desktops -- */
@media (min-width: 1281px) {
  nav {
    max-width: 1281px;
  }

  .container {
    outline: red solid 0.25em;
    min-width: 1281px;
    font-size: 1.35em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Laptops, Desktops -- */
@media (min-width: 1025px) and (max-width: 1280px) {
  nav {
    max-width: 1280px;
  }

  .container {
    outline: orange solid 0.25em;
    max-width: 1280px;
    font-size: 1.2em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Tablets, Ipads (portrait) -- */
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    max-width: 1024px;
  }

  .container {
    outline: green solid 0.25em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Tablets, Ipads (landscape) -- */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  nav {
    max-width: 1024px;
  }

  .container {
    outline: blue solid 0.25em;
    max-width: 1024px;
    font-size: 1.1em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Low Resolution Tablets, Mobiles (Landscape) -- */
@media (min-width: 481px) and (max-width: 767px) {
  nav {
    max-width: 767px;
  }

  .container {
    outline: purple solid 0.25em;
  }

  body {
    padding: 0.25em;
  }
}
/* -- ##Device = Most of the Smartphones Mobiles (Portrait) -- */
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    max-width: 480px;
  }

  .container {
    outline: pink solid 0.25em;
  }

  body {
    padding: 0.25em;
  }
}
.item h1 {
  color: #0385d2;
  font-family: primary;
  font-size: 2.5em;
  padding: 0.5em;
  background: black;
  clear: both;
}
.item div:nth-child(2) {
  width: 70%;
  float: left;
  padding: 1em;
  margin: 0;
}
.item div:nth-child(2) p {
  color: black;
  font-family: Arial;
}
.item div:nth-child(2) p a:link,
.item div:nth-child(2) p a:visited {
  background: #0385d2;
  font-family: Arial;
  color: black;
  margin: 1em 0;
  border: black solid 0.25em;
  border-radius: 0.25em;
  padding: 0.5em 0;
  clear: both;
  display: block;
  width: 7.5em;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}
.item div:nth-child(2) p a:hover,
.item div:nth-child(2) p a:active {
  text-decoration: none;
  box-shadow: inset 0 0 0.5em black;
}
.item div:nth-child(3) {
  width: 30%;
  float: right;
  padding: 1em;
  margin: 0;
  overflow: hidden;
}
.item div:nth-child(3) img {
  width: 100%;
}
.item:after {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
}

.comments {
  padding: 1em;
  opacity: 0.9;
}
.comments form {
  background: black;
  border: black solid 0.25em;
  width: 100%;
  margin: 0.5em 0;
}
.comments form:after {
  content: " ";
  display: block;
  width: 100%;
  clear: both;
}
.comments form .form-group {
  padding: 0.75em 0;
}
.comments form .form-group label {
  background: black;
  color: white;
  font-family: Arial;
  width: 25%;
  float: left;
  margin: 0;
  padding: 0.25em 0.25em;
  font-size: 1em;
}
.comments form .form-group input {
  background: white;
  color: black;
  font-family: Arial;
  width: 75%;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1em;
  padding: 0 0.25em;
}
.comments form .form-group button {
  background: #0385d2;
  font-family: Arial;
  color: black;
  margin: 1em 0;
  border: black solid 0.25em;
  border-radius: 0.25em;
  padding: 0.5em 0;
  clear: both;
  display: block;
  width: 7.5em;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  float: right;
}
.comments form .form-group button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0.5em black;
}
.comments .comment {
  background: black;
  width: 100%;
  border: black solid 0.25em;
  margin: 0.5em 0;
}
.comments .comment:before {
  content: " ";
  display: block;
  background: #0385d2;
  width: 0.25em;
  height: 3.75em;
  float: left;
  margin: 0 0.25em 0 0;
}
.comments .comment:after {
  content: " ";
  display: block;
  width: 100%;
  clear: both;
}
.comments .comment div:nth-child(1) {
  background: black;
  width: 25%;
  float: left;
  padding: 0.25em;
}
.comments .comment div:nth-child(1) h2 {
  color: #0385d2;
  font-family: primary;
  font-size: 1.25em;
}
.comments .comment div:nth-child(1) p {
  background: black;
  color: white;
}
.comments .comment div:nth-child(1) p a:link,
.comments .comment div:nth-child(1) p a:visited {
  background: none;
  color: white;
  font-family: Arial;
  border: none;
  float: left;
  margin: 0;
  padding: 0 1em 0 0;
  text-decoration: none;
  transition: 0.25s;
}
.comments .comment div:nth-child(1) p a:link:hover, .comments .comment div:nth-child(1) p a:link:active,
.comments .comment div:nth-child(1) p a:visited:hover,
.comments .comment div:nth-child(1) p a:visited:active {
  color: #0385d2;
}
.comments .comment div:nth-child(2) {
  width: calc(75% - 1em);
  float: left;
  background: black;
  min-height: 3.75em;
}
.comments .comment div:nth-child(2) p {
  font-family: Arial;
  color: white;
  padding: 0.25em;
}
