// Import variables
@import './../../styles-variables.scss';

aside {
    border: $subTwoHighlight solid .25em;
    width: calc(30% - 1em);
    min-height: 10em;
    margin: .5em;
    padding: 0;
    float: left;

    form {
        width: 100%;
        background: $subTwoHighlight;

        .form-group {
            width: 100%;
            padding: 0;
            margin: 0;
            p {
                width: 100%;

                input {
                    font-family: $subTwoFont;
                    color: $subTwoHighlight;
                    background: $subThreeHighlight;
                    border: none;
                    font-size: 1em;

                    width: 70%;
                    clear: none;
                    float: left;
                    padding: 1em;
                    margin: 0;
                    border: none;
                    border-radius: 0em;

                }
                button {
                    font-family: $primaryFont;
                    color: $subTwoHighlight;
                    background: $primaryHighlight;
                    width: 30%;
                    clear: none;
                    float: left;
                    font-size: 1em;
                    padding: .5em 0;
                    margin: 0;
                    border: none;
                    border-radius: 0em;
                }
            }
        }    
    }

    ul {

        li {
            color: $subTwoHighlight;
    
            a:link,
            a:visited {
                color: $subTwoHighlight;
                font-family: $subTwoFont;
                font-size: 1em;
                width: 100%;
                display: block;
                margin: 0;
                padding: .25em .5em;
                clear: both;
                transition: .25s;
            }
            a:hover,
            a:active {
                color: $primaryHighlight;
            }
        }
    
    }
}

@media (max-width: 767px) {
    aside {
        width: calc(100% - 1em);
    }
}