// Import variables
@import "./../../styles-variables.scss";

header {
  background: $subTwoHighlight;
  background: url("https://media.istockphoto.com/videos/smoke-levitating-in-front-of-black-background-video-id473159999?s=640x640");
  background-size: 82.5em;
  background-position-x: center;
  padding: 0 1em;

  h1 {
    font-size: 3em;
    font-family: $primaryFont;
    color: $primaryHighlight;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 4em 0 0 0;
  }

  p {
    font-size: 1em;
    font-family: $subTwoFont;
    color: $subThreeHighlight;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0.25em 0;
  }

  div {
    width: 100%;
    padding: 7.5em 0 5em 0;

    div {
      width: calc(100% / 3);
      float: left;
      padding: 0.5em;
      margin: 0;

      h2 {
        font-size: 1.25em;
        font-family: $subTwoFont;
        color: $subThreeHighlight;
      }

      p {
        font-size: 1em;
        font-family: $subTwoFont;
        color: $subThreeHighlight;
        text-align: left;
      }
    }
  }

  &:after,
  div:after {
    content: " ";
    width: 100%;
    display: block;
    clear: both;
  }
}

main {
  width: calc(70% - 1em);
  margin: 0.5em 0.5em 10em 0.5em;
  padding: 0;
  float: left;

  p {
    font-size: 1.25em;
    font-family: $subTwoFont;
    color: $subTwoHighlight;
    padding: 0.5em;

    a:link,
    a:visited {
      background: $primaryHighlight;
      color: $subTwoHighlight;
      text-decoration: none;
      padding: 0.5em;
      margin: 0;
      display: block;
      float: left;
      transition: 0.25s;
      border: $subTwoHighlight solid 0.25em;
      border-radius: 0.25em;

      i {
        color: $subTwoHighlight;
        margin: 0;
        padding: 0 0.5em 0 0;
        display: block;
        float: left;
      }
    }
    a:hover,
    a:active {
      color: $subTwoHighlight;
      text-decoration: none;
      box-shadow: inset 0 0 0.5em $subTwoHighlight;
    }
  }
}

@media (max-width: 767px) {
  main {
    width: calc(100% - 1em);
  }

  header {
    div {
      div {
        width: 100%;
        clear: both;
        margin: 0;
      }
    }
  }
}
