<div class="event">
    <h2>{{ event.title }}</h2>
    <hr>
    <div>
        <p>{{ event.description }}</p>
        <p>{{ event.date }}</p>
        <p>{{ event.time }}</p>
        <p>{{ event.price | currency }}</p>
        <p>{{ event.location.address }} {{ event.location.city }}, {{ event.location.country }}</p>
        <button [routerLink]="['/events', event.id]" class="btn btn-primary">Event Details</button>
        <!-- <button class="btn btn-primary" (click)="detailClick()">Event Details</button> -->
    </div>
    <div class='image'>
        <img [src]="event.imageUrl" alt="">
    </div>
</div>