@font-face {
  src: url("./assets/fonts/primary.ttf");
  font-family: primary;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container::before {
    background: cyan;
    width: 100%;
    height: 0.25em;
    content: " ";
    display: block;
    float: left;
  }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .container::before {
    background: green;
    width: 100%;
    height: 0.25em;
    content: " ";
    display: block;
    float: left;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container::before {
    background: orange;
    width: 100%;
    height: 0.25em;
    content: " ";
    display: block;
    float: left;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container::before {
    background: red;
    width: 100%;
    height: 0.25em;
    content: " ";
    display: block;
    float: left;
  }
}
h1 {
  color: #0385D2;
  font-family: primary;
  font-size: 2.5em;
  padding: 0.5em;
  background: black;
}

div.functions {
  padding: 1em;
  outline: black solid 0.25em;
}
div.functions h2 {
  color: black;
  font-family: primary;
  font-size: 1.25em;
}
div.functions div.function {
  padding: 1em 0;
}
div.functions div.function h3 {
  color: black;
  font-family: Arial;
  font-size: 1.25em;
  padding: 0.25em 0;
  font-weight: bold;
}
div.functions div.function p.description {
  color: black;
  font-family: Arial;
  font-size: 1em;
  padding: 0.5em 0;
  float: left;
}
div.functions div.function p.description:before {
  display: block;
  content: " ";
  color: transparent;
  width: 1em;
  height: 1em;
  background: #0385D2;
  float: left;
  margin: 0 0.5em 0 0;
  border: black solid 0.25em;
  border-radius: 0.25em;
}
div.functions div.function p.description:after {
  display: block;
  content: " ";
  color: transparent;
  clear: both;
}
div.functions div.function.tabs ul.nav-pills li a:link,
div.functions div.function.tabs ul.nav-pills li a:visited {
  color: white;
  font-family: Arial;
  background: black;
  border: none;
}
div.functions div.function.tabs ul.nav-pills li.active a {
  background: #0385D2;
}
div.functions div.function.tabs .tab-content {
  width: 100%;
  height: auto;
  background: white;
}
div.functions div.function.tabs .tab-content .tab-pane {
  color: black;
  font-family: Arial;
  border: black solid 0.25em;
  padding: 1em;
}
div.functions div.function.tabs .tab-content .tab-pane h2 {
  font-family: primary;
  font-size: 1.5em;
}
div.functions div.function.tabs .tab-content .tab-pane hr {
  background: black;
  width: 100%;
  height: 0.25em;
  display: block;
  margin: 0.25em 0;
  padding: 0;
}
div.functions div.function.object-management form {
  clear: both;
  background: white;
  width: 100%;
  padding: 1em;
  border: black solid 0.25em;
}
div.functions div.function.object-management form h2 {
  padding: 0 0 0.5em 0;
}
div.functions div.function.object-management form p {
  width: 20em;
  color: black;
  font-family: Arial;
  padding: 0.25em 0;
}
div.functions div.function.object-management form p select {
  width: 50%;
  float: right;
  font-size: 1em;
  padding: 0;
  margin: 0;
  height: auto;
}
div.functions div.function.object-management form p select option {
  padding: 0;
  margin: 0;
}
div.functions div.function.object-management form p button {
  color: black;
  font-family: Arial;
  width: 50%;
  float: right;
  padding: 0;
}
div.functions div.function.object-management table {
  background: white;
  width: 100%;
  border: black solid 0.25em;
  color: black;
  font-family: Arial;
}
div.functions div.function.object-management table thead {
  background: black;
  color: white;
}
div.functions div.function.object-management table tbody tr td.red:before, div.functions div.function.object-management table tbody tr td.green:before, div.functions div.function.object-management table tbody tr td.yellow:before {
  background: red;
  display: block;
  content: " ";
  color: transparent;
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.25em 0 0;
  float: left;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0.25em black;
}
div.functions div.function.object-management table tbody tr td.green:before {
  background: green;
}
div.functions div.function.object-management table tbody tr td.yellow:before {
  background: yellow;
}
