@import "./../../styles-variables.scss";

h1 {
  color: $primaryHighlight;
  font-family: $primaryFont;
  font-size: 2.5em;
  padding: 0.5em;
  background: $subTwoHighlight;
}

div.functions {
  padding: 1em;
  outline: $subTwoHighlight solid 0.25em;

  h2 {
    color: $subTwoHighlight;
    font-family: $primaryFont;
    font-size: 1.25em;
  }

  div.function {
    padding: 1em 0;

    h3 {
      color: $subTwoHighlight;
      font-family: $subTwoFont;
      font-size: 1.25em;
      padding: 0.25em 0;
      font-weight: bold;
      clear: both;
    }

    p.description {
      color: $subTwoHighlight;
      font-family: $subTwoFont;
      font-size: 1em;
      padding: 0.5em 0;
      float: left;
      clear: both;

      &:before {
        display: block;
        content: " ";
        color: transparent;
        width: 1em;
        height: 1em;
        background: $primaryHighlight;
        float: left;
        margin: 0 0.5em 0 0;
        border: $subTwoHighlight solid 0.25em;
        border-radius: 0.25em;
      }
      &:after {
        display: block;
        content: " ";
        color: transparent;
        clear: both;
      }
    }

    &.components {
      div {
        background: $subTwoHighlight;
        width: calc((100% / 4) - 0.5em);
        height: 10em;
        float: left;
        padding: 1em;
        margin: 0.25em;
        transition: 0.25s;
        opacity: 0.85;
        overflow: hidden;

        &:hover {
          opacity: 1;

          h3 {
            color: $primaryHighlight;
          }
        }

        h3 {
          font-family: $subTwoFont;
          color: $subThreeHighlight;
          transition: 0.25s;
        }
        hr {
          color: $subThreeHighlight;
          padding: 0.1em;
          margin: 0;
        }
        p {
          font-family: $subTwoFont;
          color: $subThreeHighlight;
          transition: 0.25s;
        }
      }
      div:nth-child(1) {
        width: calc(100% - 0.5em);
        height: auto;
        opacity: 1;

        h3 {
          font-family: $subTwoFont;
          color: $primaryHighlight;
        }
      }
    }

    &.tabs {
      ul.nav-pills {
        clear: both;

        li {
          a:link,
          a:visited {
            color: $subThreeHighlight;
            font-family: $subTwoFont;
            background: $subTwoHighlight;
            border: none;
          }
          a:hover,
          a.active {
          }

          &.active {
            a {
              background: $primaryHighlight;
            }
          }
        }
      }

      .tab-content {
        width: 100%;
        height: auto;
        background: $subThreeHighlight;

        .tab-pane {
          color: $subTwoHighlight;
          font-family: $subTwoFont;
          border: $subTwoHighlight solid 0.25em;
          padding: 1em;

          h2 {
            font-family: $primaryFont;
            font-size: 1.5em;
          }

          hr {
            background: $subTwoHighlight;
            width: 100%;
            height: 0.25em;
            display: block;
            margin: 0.25em 0;
            padding: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .components {
    div {
      width: calc((100% / 2) - 0.5em);
    }
  }
}
