<h1>{{pageTitle}}</h1>
<div class="functions">
    <h2>Angular, TypeScript, and Bootstrap in sync</h2>
    <div class="function tabs">
        <h3>Bootstrap Tabs</h3>
        <p class="description">TypeScript and Bootstrap provide the ability to iterate through objects providing an architecture that is easily modifiable.</p>
        <ul  class="nav nav-pills">
            <li *ngFor="let tab of tabs" [ngClass]="{ 'active': tab.tabId == 1 }"><a href="#{{tab.tabId}}" data-toggle="tab">{{tab.tabTitle}}</a></li>
		    </ul>

        <div class="tab-content clearfix">
            <div *ngFor="let tab of tabs" [ngClass]="{ 'active': tab.tabId == 1 }" class="tab-pane" id="{{tab.tabId}}"> <!-- add active class -->
                <h2>{{tab.tabTitle}}</h2>
                <hr>
                <p>{{tab.tabDescription}}</p>
                <p>{{tab.tabMeta}}</p>
            </div>

        </div>
    </div>


    
<!-- <div class="form-controls-table">
    <h2>Angular Form Control Data</h2>
    <p>Angular provides form control data to identify the current state of each field.</p>            
    <table class="table table-hover">
      <thead>
        <tr>
          <th><p>Field</p></th>
          <th><p>Valid</p></th>
            <th><p>Invalid</p></th>
            <th><p>Dirty</p></th>
            <th><p>Pristine</p></th>
            <th><p>Touched</p></th>
            <th><p>Untouched</p></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Form</p></td>
          <td><p>{{ loginForm.valid }}</p></td>
          <td><p>{{ loginForm.invalid }}</p></td>
          <td><p>{{ loginForm.dirty }}</p></td>
          <td><p>{{ loginForm.pristine }}</p></td>
          <td><p>{{ loginForm.touched }}</p></td>
          <td><p>{{ loginForm.untouched }}</p></td>
        </tr>
        <tr>
          <td><p>Username</p></td>
          <td><p>{{ loginForm.controls.username?.valid }}</p></td>
          <td><p>{{ loginForm.controls.username?.invalid }}</p></td>
          <td><p>{{ loginForm.controls.username?.dirty }}</p></td>
          <td><p>{{ loginForm.controls.username?.pristine }}</p></td>
          <td><p>{{ loginForm.controls.username?.touched }}</p></td>
          <td><p>{{ loginForm.controls.username?.untouched }}</p></td>
        </tr>      
        <tr>
          <td><p>Password</p></td>
          <td><p>{{ loginForm.controls.password?.valid }}</p></td>
          <td><p>{{ loginForm.controls.password?.invalid }}</p></td>
          <td><p>{{ loginForm.controls.password?.dirty }}</p></td>
          <td><p>{{ loginForm.controls.password?.pristine }}</p></td>
          <td><p>{{ loginForm.controls.password?.touched }}</p></td>
          <td><p>{{ loginForm.controls.password?.untouched }}</p></td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>