@import './../../styles-variables.scss';

h1 {
    color: $primaryHighlight;
    font-family: $primaryFont;
    font-size: 2.5em;
    padding: .5em;
    background: $subTwoHighlight;
}

main{
    width: 70%;
    padding: .5em;
    float: right;
    outline: black solid 1px; // temp
}

aside {
    float: left;
    width: 30%;
    padding: .5em;
    height: 10em; // temp
    outline: black solid 1px; // temp

    button {
        background: $primaryHighlight;
        font-family: $subTwoFont;
        color: $subTwoHighlight;
        margin: 1em 0;
        border: $subTwoHighlight solid .25em;
        border-radius: .25em;
        padding: .5em 0;
        clear: both;
        display: block;
        width: 100%;
    }
}