<div class="item"> 
    <h2>{{ item.name }}</h2>
    <p><a [routerLink]="['/items/update-item', item.id]" class="btn btn-primary">Update</a></p>
    <p><a (click)="serviceDeleteItem(item)" href="javascript:void" class="btn btn-primary">Delete</a></p>
    <hr>
    <div>
        <p>{{ item.description }}</p>
        <p>{{ item.price | currency }}</p>
        <p>{{ item.inventory }} Available</p>
        <p>{{ item.category }}</p>
    </div>
    <div>
        <img src="./../../assets/images/items/{{ item.image_url }}"/>
    </div>
    <button [routerLink]="['/items', item.id]" [disabled] class="btn btn-primary">Item Details</button>
    <button [ngClass]="{'disabled': !authService.isAuthenticated() }" [disabled]="!authService.isAuthenticated()" [routerLink]="['/item-cart']" (click)="addItemToCart(item)" class="btn btn-primary">Add to Cart</button>
</div>