@import './../../styles-variables.scss';

h1 {
    color: $primaryHighlight;
    font-family: $primaryFont;
    font-size: 2.5em;
    padding: .5em;
    background: $subTwoHighlight;
}

main {
    width: 70%;
    padding: .5em;
    float: right;
}

aside {
    float: left;
    width: 30%;
    padding: .5em;

    &:after {
        content: " ";
        color: transparent;
        width: 100%;
        clear: both;
        display: block;
    }

    select {
        background: $subThreeHighlight;
        font-family: $subTwoFont;
        color: $subThreeHighlight;
        border: $subTwoHighlight solid .25em;
        width: 100%;
        display: block;
    }

    button {
        background: $primaryHighlight;
        font-family: $subTwoFont;
        color: $subTwoHighlight;
        margin: 1em 0;
        border: $subTwoHighlight solid .25em;
        border-radius: .25em;
        padding: .5em 0;
        clear: both;
        display: block;
        width: 100%;   
        text-align: center;
        text-decoration: none;
        transition: .25s;
    }
    button:hover {
        text-decoration: none;
        box-shadow: inset 0 0 .5em $subTwoHighlight;
    }

    &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 1em;
    }
}

@media (max-width: 767px) {

    main,
    aside {
        clear: right;
        margin: 0 auto;
        float: none;
        width: 100%;
    }

    aside {

        p {
            width: 100%;
            display: block;
            margin: .5em 0;
            input,
            select {
                float: right;
                width: 50%;

            }
        }
    }
}