<h1>Available Items</h1>

<aside>
  <h2>Filter Items:</h2>
  <form novalidate #form="ngForm">
    <div class="form-group">
      <p>
        Item Category
        <select class="form-control" name="category" [(ngModel)]="category">
          <option *ngFor="let item of items" value="{{ item.category }}">
            {{ item.category }}
          </option>
        </select>
      </p>
    </div>
    <p><button type="button" (click)="reset($event)">Clear Filters</button></p>
  </form>
</aside>
<main>
  <app-item
    *ngFor="let item of items | filter: form.value"
    [item]="item"
  ></app-item>
</main>
