@import './../../styles-variables.scss';

.item {
    margin: .5em auto;
    width: 100%;
    padding: 1em;
    background: $subTwoHighlight;
    color: $subThreeHighlight;
    border: $primaryHighlight solid .25em;


    div:nth-child(1) {
        width: 70%;
        float: left;

        h2 {
            color: $primaryHighlight;
            font-family: $primaryFont;
            font-size: 1.5em;
        }

        p {
            color: $subThreeHighlight;
            font-family: $subTwoFont;
        }
    }

    div:nth-child(2) {
        background: $subTwoHighlight;
        float: right;
        width: 30%;
        height: 5em;
        overflow: hidden;
        outline: red solid 1px;

        img {
            width: 100%;
        }
    }
    
    button {
        background: $primaryHighlight;
        font-family: $subTwoFont;
        color: $subTwoHighlight;
        margin: 1em 0;
        clear: both;
        display: block;
    }

}