@import './../../styles-variables.scss';

h1 {
    color: $primaryHighlight;
    font-family: $primaryFont;
    font-size: 2.5em;
    padding: .5em;
    background: $subTwoHighlight;
}

main{
    width: 70%;
    padding: .5em;
    float: right;
    outline: black solid 1px; // temp
}

aside {
    float: left;
    width: 30%;
    padding: .5em;
    height: 10em; // temp
    outline: black solid 1px; // temp

    a:link,
    a:visited {
        background: $primaryHighlight;
        font-family: $subTwoFont;
        color: $subTwoHighlight;
        margin: 1em 0;
        border: $subTwoHighlight solid .25em;
        border-radius: .25em;
        padding: .5em 0;
        clear: both;
        display: block;
        width: 45%;   
        text-align: center;
        text-decoration: none;
        transition: .25s;
    }
 
    a:hover,
    a:active {
        text-decoration: none;
        box-shadow: inset 0 0 .5em $subTwoHighlight;
    }

    button {
        background: $primaryHighlight;
        font-family: $subTwoFont;
        color: $subTwoHighlight;
        margin: 1em 0;
        border: $subTwoHighlight solid .25em;
        border-radius: .25em;
        padding: .5em 0;
        clear: both;
        display: block;
        width: 100%;   
        text-align: center;
        text-decoration: none;
        transition: .25s;
    }
    button:hover {
        text-decoration: none;
        box-shadow: inset 0 0 .5em $subTwoHighlight;
    }
}

@media (max-width: 767px) {

    main,
    aside {
        clear: right;
        margin: 0 auto;
        float: none;
        width: 100%;
    }
}