@import './../../styles-variables.scss';


.nav {

    ul {
        background: $subTwoHighlight; 

        li {
            background: transparent; 
            
            a:link,
            a:visited {
                color: $subThreeHighlight;
                font-family: $subTwoFont;
                transition: .25s;
            }
            a:active,
            a:hover,
            a:focus,
            a:active {
                color: $primaryHighlight;
                text-decoration: none;
                background: transparent; 
                background-color: transparent; 
            }

            &.dropdown {
                
                ul {
                    background: $subTwoHighlight; 
    
                    li {
                        background: $subTwoHighlight; 
    
                        a:link,
                        a:visited {
                            color: $subThreeHighlight;
                            font-family: $subTwoFont;
                            background: $subTwoHighlight; 
                        }
                        a:hover,
                        a:active {
                            color: $primaryHighlight;
                            background: $subTwoHighlight; 
                        }
                    }
                }
            }
        }
    }
}