@import "./../../../styles-variables.scss";

.navbar {
  background: $subTwoHighlight;
  color: $subThreeHighlight;
  padding: 0em;
  margin: 0 auto;
  margin-bottom: 0em;
  border: none;
  border-radius: 0em;

  .container-fluid {
    max-width: $maxWidthNav;

    .navbar-header {
      a:link,
      a:visited {
        color: $subThreeHighlight;
        font-family: $primaryFont;
        transition: 0.25s;
        float: left;
      }
      a:hover,
      a:active {
        color: $primaryHighlight;
      }

      a:before {
        background: url("./../../../assets/images/brand.png");
        background-size: 100%;
        float: left;
        display: block;
        content: " ";
        color: transparent;
        width: 1em;
        height: 1em;
        margin: 0 0.5em 0 0;
        padding: 0;
      }
    }

    .navbar-collapse {
      margin: 0;
      padding: 0;

      .navbar-nav {
        margin: 0;
        padding: 0;

        li {
          background: $subTwoHighlight;
          margin: 0;
          padding: 0;
          color: $subThreeHighlight;

          a:link,
          a:visited {
            font-family: $subTwoFont;

            span.cartLength {
              background: $primaryHighlight;
              color: $subTwoHighlight;
              font-weight: 800;
              margin: -1em 0em 0 -0.5em;
              padding: 0;
              padding: 0.25em 0.75em;
              border-radius: 50%;
              float: right;
              font-size: 0.75em;
              clear: both;
            }

            i:hover {
            }
          }
          a:hover,
          a:active {
          }

          &.dropdown,
          ul.dropdown-menu {
            background: $subTwoHighlight;
            overflow: visible;
            margin: 0;
            padding: 0;
            right: auto;

            li {
              margin: 0;
              padding: 0 1em;
              text-align: left;
              font-family: $subTwoFont;

              a:link,
              a:visited {
                background: $subTwoHighlight;
                color: $subThreeHighlight;
                margin: 0;
                padding: 0;
              }
              a:hover,
              a:active {
                background: $subTwoHighlight;
              }
            }
          }

          ul.cart {
            background: $subThreeHighlight;
            border: $subTwoHighlight solid 0.25em;
            width: 26em;
            margin: 0;
            padding: 0;
            right: 0;

            &:after {
              content: " ";
              width: 100%;
              clear: both;
              position: relative;
              display: block;
            }

            hr {
              background: $subTwoHighlight;
              width: calc(100% - 1em);
              padding: 0.1em;
              display: block;
              position: relative;
              float: left;
              margin: 0.25em;
            }

            h2 {
              color: $primaryHighlight;
              font-family: $primaryFont;
              background: $subTwoHighlight;
              padding: 0.25em;
              margin: 0;
              font-size: 1.5em;
            }

            p {
              color: $subTwoHighlight;
              width: 100%;
              padding: 0.25em;
            }
            div.cartTotal {
              width: 100%;
              clear: both;

              p {
                font-weight: 800;
                padding: 0.25em;
              }
            }

            li {
              background: $subThreeHighlight;
              color: $subTwoHighlight;

              p {
                width: calc(100% / 3);
                height: 1em;
                float: left;
                margin: 0.25em 0;
                padding: 0;
                overflow: hidden;
              }
            }

            a:link,
            a:visited {
              background: $primaryHighlight;
              font-family: $subTwoFont;
              color: $subTwoHighlight;
              margin: 0.5em;
              padding: 0.5em;

              width: calc(50% - 1em);

              border: $subTwoHighlight solid 0.25em;
              border-radius: 0.25em;
              float: left;
              display: block;
              text-align: center;
              text-decoration: none;
              transition: 0.25s;

              &:hover,
              &:active {
                text-decoration: none;
                box-shadow: inset 0 0 0.5em $subTwoHighlight;
              }
            }
          }
          @media (max-width: 767px) {
            ul.cart {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
