<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a
        class="navbar-brand"
        routerLinkActive="active"
        [routerLink]="['/main']"
      >
        {{ brandTitle }}</a
      >
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/functions']" routerLinkActive="active"
            >Functions</a
          >
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Items<span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/items']">All Items</a></li>
            <li *ngIf="authService.isAuthenticated()">
              <a [routerLink]="['/items/create-item']">Create Item</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >My Account<span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a
                *ngIf="!authService.isAuthenticated()"
                [routerLink]="['/user/login']"
                >Login</a
              >
            </li>
            <li>
              <a
                *ngIf="!authService.isAuthenticated()"
                [routerLink]="['/user/register']"
                >Register</a
              >
            </li>

            <li>
              <a
                *ngIf="authService.isAuthenticated()"
                [routerLink]="['/user/profile']"
                >Edit Profile</a
              >
            </li>
            <li>
              <a
                *ngIf="authService.isAuthenticated()"
                href="#"
                (click)="authService.logout()"
                >Logout</a
              >
            </li>
          </ul>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="cartLength" *ngIf="cartLength != 0">{{
              cartLength
            }}</span>
            <i class="fas fa-shopping-cart"> </i>
          </a>

          <ul class="dropdown-menu cart">
            <h2>{{ currentUser.first_name }}'s Cart</h2>

            <div *ngIf="cart.length > 0">

              <li *ngFor="let item of cart">
                <p>{{ item.name }}</p>
                <p>x{{ item.quanity }}</p>
                <p>{{ item.price | currency }}</p>
              </li>
              <hr />
              <div class="cartTotal">
                <p>Sub Total: {{ cartTotal | currency }}</p>
                <p>Sales Tax: {{ cartTotal * 0.05 | currency }}</p>
                <p>Total: {{ cartTotal * 1.05 | currency }}</p>
              </div>
            </div>
            <div *ngIf="cart.length == 0">
              <p>You currently have no items in your cart.</p>
            </div>
            <a [routerLink]="['/item-cart']">View Cart</a>
            <a *ngIf="cart.length == 0" [routerLink]="['/items']">View Items</a>
            <a *ngIf="cart.length > 0" href="#">Proceed to checkout</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
