@import './../../styles-variables.scss';

form {
    clear: both;
    border: $subTwoHighlight solid .25em;
    background: $subThreeHighlight;
    padding: 1em;
    margin: 0;
    max-width: 30em;

    p {
        color: $subTwoHighlight;
        font-family: $subTwoFont;
        width: 100%;
        float: left;
        
        input[type="text"] {
            color: $subTwoHighlight;
            font-family: $subTwoFont;
            border: $subTwoHighlight solid .25em;
            width: 70%;
            float: right;
        }
        span {
            float: left;
            color: rgb(255, 0, 0);
            padding: 0 .25em 0 0;
        }
    }
    button {
        clear: both;
        float: none;
    }

    .status {
        width: 20em;
        border: $subTwoHighlight solid .25em;
        p {
            width: 100%;
            float: none;
        }
    }
}