
@import './../styles-variables.scss';

.navbar {   
    background: $subTwoHighlight;
    color: $subThreeHighlight;
    padding: 0em;
    margin: 0 auto;
    margin-bottom: 0em;
    border: none;
    border-radius: 0em;

    .container-fluid {
        max-width: $maxWidthNav;
        

        .navbar-header {

            a:link,
            a:visited {
                color: $subThreeHighlight;
                font-family: $primaryFont;
                transition: .25s;
                float: left;
            }
            a:hover,
            a:active {
                color: $primaryHighlight;
            }

            a:before {
                background: url('./../assets/images/brand.png');
                background-size: 100%;
                float: left;
                display: block;
                content: " ";
                color: transparent;
                width: 1em;
                height: 1em;
                margin: 0 .5em 0 0;
                padding: 0;
            }
        }
        .navbar-nav {

            ul {

                li {

                    a:link,
                    a:visited {
                        color: $subThreeHighlight;
                        font-family: $subTwoFont;
                        transition: .25s;
                    }
                    a:hover,
                    a:active {
                        color: $primaryHighlight;
                    }
                }

                li.dropdown {
                    
                    ul {
                        background: $subTwoHighlight; 

                        li {
                            background: $subTwoHighlight; 

                            a:link,
                            a:visited {
                                color: $subThreeHighlight;
                                font-family: $subTwoFont;
                                background: $subTwoHighlight; 
                            }
                            a:hover,
                            a:active {
                                color: $primaryHighlight;
                                background: $subTwoHighlight; 
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
  background-color:$subTwoHighlight;
  color: $subThreeHighlight;
  padding:1em 0;
  margin: 0;
  font-size:1em;
  width: 100%;
  clear: both;

  h2 {
      color: $primaryHighlight;
      font-family: $primaryFont;
      font-size: 1.25em;
      padding: .5em 0;
  }
  p {
      color: $subThreeHighlight;
      font-family: $subTwoFont;
  }

  ul {

    li {

        a:link,
        a:visited {
            color: $subThreeHighlight;
            font-family: $subTwoFont;
            transition: .25s;
            text-decoration: none;
        }
        a:hover,
        a:active {
            color: $primaryHighlight;
        }
    }
  }

  .social-icons {
      padding: 1em 0;

    li {
        width: 25%;
        float: left;
        color: black;
        i {
            color: $subThreeHighlight;
            width: 100%;
            margin: 0 auto;
            display: block;
            font-size: 2.5em;
            text-align: center;
            transition:.25s; 

            &:hover,
            &:active {
              color: $primaryHighlight;
              cursor: pointer;
            }
        }
    }
}
}


