<aside>
  <div *ngIf="auth.isAuthenticated()" class="currentIdentity">
    <p>Hi {{ auth.currentUser.name }}</p>
  </div>

  <form id="searchForm" (ngSubmit)="searchItems(searchTerm)" class="searchForm"  >
    <div class="form-group">
      <p>
        <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Items" >
        <button class="btn btn-default" modal-trigger="searchResults">Search</button> 
      </p>
    </div>
  </form>

  
  <app-simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
    <ul>
      <li *ngFor="let item of matchingItems"><a [routerLink]="['/items', item.id]">{{item.name}}</a></li>
    </ul>
      
  </app-simple-modal>
    
</aside>