
@font-face {
    src: url('./assets/fonts/primary.ttf');
    font-family: primary;
}

$primaryHighlight: #0385D2;
$subTwoHighlight: rgba(0,0,0,1);
$subThreeHighlight: rgba(255,255,255,1);

$primaryFont: primary;
$subTwoFont: Arial;
 
$maxWidthNav: 60em;
$maxWidthContainer: 60em;