<h1>Upcoming event details</h1>
<div class="event">
  <h2>{{ event.title }}</h2>
  <hr>
  <div>
      <p>{{ event.description }}</p>
      <p>{{ event.date }}</p>
      <p>{{ event.time }}</p>
      <p>{{ event.price | currency }}</p>
      <p>{{ event.location.address }} {{ event.location.city }}, {{ event.location.country }}</p>
      <button [routerLink]="['/events']" class="btn btn-primary">Back to events</button>
  </div>
  <div class='image'>
    <img [src]="event.imageUrl" alt="">
  </div>

  <hr>

  <div class="sessions">
    <h2>Sessions</h2>
    <a (click)="addSession()">Add Session</a>
    <app-sessions *ngIf="!addMode" [sessions]="event?.sessions"></app-sessions>
    <app-create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancelAddSession)="cancelAddSession()"></app-create-session>
  </div>
</div>