@import './../../../styles-variables.scss';

h1 {
    color: $primaryHighlight;
    font-family: $primaryFont;
    font-size: 2.5em;
    padding: .5em;
    background: $subTwoHighlight;
}

.event {
    width: calc(100% - 2em);
    margin: 1em;
    padding: 1em;
    border: $subThreeHighlight solid .25em;
    border-radius: .5em;
    background: $subTwoHighlight;
    overflow: hidden;
    
    h2 {
        color: $primaryHighlight;
        font-family: $primaryFont;
        font-size: 1.5em;
    }

    hr {
        display: block;
        background: $subThreeHighlight;
        width: 100%;
        height: .25em;
        margin: .5em 0;
        padding: 0;
        border: none;
        clear: both;
    }

    div {
        width: 75%;
        float: left;

        p {
            color: $subThreeHighlight;
            font-family: $subTwoFont;
        }
        
        button {
            background: $primaryHighlight;
            font-family: $subTwoFont;
            color: $subTwoHighlight;
            margin: .5em 0;
            clear: both;
            display: block;
        }
    }

    .image {
        width: 25%;
        height: 10em;
        float: right;
        overflow: hidden;
        background: $subThreeHighlight;

        img {
            width: 100%;
        }
    }

    .sessions {

        h2 {
            color: $primaryHighlight;
            font-family: $primaryFont;
            font-size: 1.2em;
        }
        a:link,
        a:visited {
            background: $subThreeHighlight;
            font-family: $subTwoFont;
            color: $subTwoHighlight;
            margin: .5em 0;
            width: 10em;
            clear: both;
            display: block;
        } 
    }
}

