<h1>Create Item</h1>

<div class="col-md-6">
  <form #newItemForm="ngForm" (ngSubmit)="saveItem(newItemForm.value)" autocomplete="off" novalidate>
    
    <div class="form-group" [ngClass]="{'error': newItemForm.controls.name?.invalid && newItemForm.controls.name?.touched}">
      <em *ngIf="newItemForm.controls.name?.invalid && (newItemForm.controls.name?.touched)">*</em>
      <label for="name">Item name:</label>
      <input (ngModel)="newItem.name" name="name" required id="name" type="text" class="form-control" placeholder="name" />
    </div>

    <div class="form-group" [ngClass]="{'error': newItemForm.controls.description?.invalid && newItemForm.controls.description?.touched}">
        <em *ngIf="newItemForm.controls.description?.invalid && (newItemForm.controls.description?.touched)">*</em>
        <label for="description">Item Description:</label>
        <input (ngModel)="newItem.description" name="description" required id="description" type="text" class="form-control" placeholder="description" />
    </div>

    <div class="form-group" [ngClass]="{'error': newItemForm.controls.price?.invalid && newItemForm.controls.price?.touched}">
        <em *ngIf="newItemForm.controls.price?.invalid && (newItemForm.controls.price?.touched)">*</em>
        <label for="price">Item Price:</label>
        <input (ngModel)="newItem.price" name="price" required id="price" type="text" class="form-control" placeholder="price" />
    </div>

    <div class="form-group" [ngClass]="{'error': newItemForm.controls.inventory?.invalid && newItemForm.controls.inventory?.touched}">
        <em *ngIf="newItemForm.controls.inventory?.invalid && (newItemForm.controls.inventory?.touched)">*</em>
        <label for="inventory">Item Inventory:</label>
        <input (ngModel)="newItem.inventory" name="inventory" required id="inventory" type="text" class="form-control" placeholder="inventory" />
    </div>

    <div class="form-group" [ngClass]="{'error': newItemForm.controls.category?.invalid && newItemForm.controls.category?.touched}">
        <em *ngIf="newItemForm.controls.category?.invalid && (newItemForm.controls.category?.touched)">*</em>
        <label for="category">Item Category:</label>
        <input (ngModel)="newItem.category" name="category" required id="category" type="text" class="form-control" placeholder="category" />
    </div>
    
    <div class="form-group" [ngClass]="{'error': newItemForm.controls.image_url?.invalid && newItemForm.controls.image_url?.touched}">
      <em *ngIf="newItemForm.controls.image_url?.invalid && newItemForm.controls.image_url?.touched && newItemForm.controls.image_url?.errors.required">*</em>
      <label for="image_url">Image:</label>
      <input (ngModel)="newItem.image_url" name="image_url" required pattern=".*\/.*.(png|jpg)" id="image_url" type="text" class="form-control" placeholder="preview.png" />
      <em *ngIf="newItemForm.controls.image_url?.invalid && newItemForm.controls.image_url?.touched  && newItemForm.controls.image_url?.errors.pattern">Must be a png or jpg url</em>
      <img [src]="newItemForm.controls.image_url.value" *ngIf="newItemForm.controls.image_url?.valid" />
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>